@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
  font-family: 'Montserrat', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aqua;
  color: black !important;
}

#meat{
    text-align: center; 
};

#nav-bar{
  background-color: hsla(302, 59%, 65%, 0.7);
  font-family: 'Merriweather', serif, 'Work Sans';
  position: relative;
  max-width: 100%;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;

}

#nav-bar ul {
  display: inline;
  list-style-type: none;
  
}


#nav-bar li {
  display: inline;
  position: relative;  
  margin: 0 10px;
}
